<!--
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-text="{{ page.title }}" style="margin:0!important;" data-url="{{ site.url }}{{ page.url }}">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a href="https://twitter.com/intent/tweet" class="twitter-share-button" data-show-count="false" data-text="{{ page.title }} - {{ site.title }}" style="margin:0!important;" data-url="{{ site.url }}{{ page.url }}">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
-->

<a href="https://twitter.com/intent/tweet" class="twitter-share-button" data-show-count="false" style="margin:0!important;">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!--
<a href="https://b.hatena.ne.jp/entry/s/d-shimizu.github.io{{ page.url }}"
   class="hatena-bookmark-button" 
   data-hatena-bookmark-url="{{ site.url}}{{ page.url }}" 
   data-hatena-bookmark-title="{{ page.title }}"
   data-hatena-bookmark-layout="basic-label-counter" 
   data-hatena-bookmark-lang="ja" 
   title="このエントリーをはてなブックマークに追加">
<img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none; margin:0!important" />
</a>
-->

<a href="https://b.hatena.ne.jp/entry/s/d-shimizu.github.io{{ page.url }}" class="hatena-bookmark-button" data-hatena-bookmark-layout="vertical-normal" data-hatena-bookmark-lang="en" title="このエントリーをはてなブックマークに追加">
<img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>


<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v8.0" nonce="Yj1Iw9vx"></script>
<div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
