---
layout: default
---

<div class="home">

  {{ content }}

  <ul class="post-list">
    {% for post in paginator.posts %}

      <li lang="ja">
	<header class="post-header">
	  <h1 class="post-title">
	    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}{% if post.external-url %} &rarr;{% endif %}</a>
	  </h1>

	  <p class="post-meta">{{ post.date | date: "%Y/%m/%d" }}{% include tags.html tags=post.tags %}</p>
	</header>

	<!--
	<div class="post-content">
	  {{ post.excerpt }}
	</div>
	-->

	{% if post.content contains site.excerpt_separator %}
    <p class="post-continue">
	  <a href="{{ post.url | relative_url }}"> Read more &rarr;</a>
	</p>
	{% endif %}
      </li>
    {% endfor %}
  </ul>


    <div class="pagination">
      {% if paginator.previous_page %}
	<a class="previous" href="{{ paginator.previous_page_path | relative_url }}"> &laquo; Newer</a>
      {% endif %}
      {% if paginator.next_page %}
        <a class="next" href="{{ paginator.next_page_path | relative_url }}">Older &raquo;</a>
      {% endif %}
    </div>

</div>
